*:not(#map *, .windDirec, [class*="leaflet"]) {
  background: #f0f1f5 !important;
  color: #33394e !important;
}

#loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100vh;
}

.windDirec {
  background: url("./assets/wind_unselected.svg") no-repeat !important;
  min-width: 42px;
  min-height: 42px;
  display: inline-block;
  transform: rotate(0deg);
}

.iconCurrent {
  width: fit-content !important;
}

.max-vh-100 {
  max-height: 100vh !important;
}

/* .app-layout {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 16px;
  padding: 16px !important;
}

.app-layout > row {
  margin: 0;
  width: 100%;
}

.app-layout .row > [class*="col"] {
  padding-inline: 4px;
} */

main {
  height: 100vh;
  max-height: 100vh;
  padding: 8px 16px 16px 16px;
}

@media (min-width: 992px) {
  main {
    overflow: hidden;
  }
}

main [class*="col"], main [class*="col"] .card {
  height: 100% !important;
}

header {
  max-height: fit-content;
  margin-bottom: 8px;
  grid-column: span 3 / span 3;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-3 {
  grid-row-start: 3;
}

.column-span-2 {
  grid-column: span 2 / span 2;
}

.col-start-2 {
  grid-column-start: 2;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.w-fit-content {
  width: fit-content !important;
}

.h-fit-content {
  height: fit-content !important;
}

.min-h-fit-content {
  min-height: fit-content !important;
}

.fit-content {
  width: fit-content !important;
  height: fit-content !important;
}

.card:not(.card-seption), #searchCity {
  border: 0 !important;
  box-shadow: 0px 0px 20px -3px #a9b0c7;
  border-radius: 1rem !important;
  overflow: hidden;
}

#searchCity {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

.card-seption {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.card-seption .card:first-child {
  margin-right: 16px;
}

.card-seption .card:last-child {
  margin-top: 16px
}

#searchCity input:focus {
  border: 1px solid #dee2e6;
  outline: 0;
  box-shadow: none !important;
}

#title {
  background: #a9b0c7 !important;
  color: transparent !important;
  background-clip: text !important;
  text-shadow: 0 3px 3px rgba(255,255,255,0.5) !important;
}

#cardMap {
  border: 6px solid #f0f1f5 !important;
  border-radius: 8px;
}

.leaflet-control-zoom {
  border: 0 !important;
}

#cardMap a {
  border-radius: 6px !important;
}

.leaflet-control-zoom-in {
  margin-bottom: 4px;
}

ul {
  list-style-type: none;
}

#compass-container > svg {
  width: 100%;
}

#dailyForecast tr:first-child {
  border-top: 1px solid #dee2e6;
}