.windDirec {
  background: url("./assets/wind_unselected.svg") no-repeat;
  min-width: 42px;
  min-height: 42px;
  display: inline-block;
  transform: rotate(0deg);
}

.iconCurrent{
  width: fit-content !important;
}